@font-face {
    font-family: 'Source Sans';
    font-style: normal;
    font-weight: 400;
    src: 
        local(''), 
        url('/fonts/sourcesans/SourceSansPro-Regular.ttf') format('truetype');
}

body {
    background-color: rgb(232,232,232);
    font-family: 'Source Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-image: linear-gradient(to right, #000000, #696969);
}

main {
    margin: 10px;
}