@font-face {
    font-family: 'Source Sans';
    font-style: normal;
    font-weight: 400;
    src: 
        local(''), 
        url('/fonts/sourcesans/SourceSansPro-Regular.ttf') format('truetype');
}

body {
    background-color: rgb(232,232,232);
    font-family: 'Source Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000;
    height: 50px;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}

main {
    margin: 10px;
}