main > form {
    display: flex;
    column-gap: 10px;
}

main > form > input {
    flex: 1;
}

main {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    
    padding: 20px 50px;
}

footer a, footer a:visited, footer a:hover, footer a:active {
    color: white;
    text-decoration: none;
}
